@import "bootstrap/scss/bootstrap";

@font-face {
    font-family: OpenSauce;
    src: url("/assets/font/OpenSauce.ttf");
}

$white: #fafafa;
$orange: #ff844f;
$yellow: #ff9e1e;
$blue: #005b96;
$navy: #03396c;
$letter: 0.009em;

body {
    font-family: OpenSauce !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: 300ms ease;
    button {
        z-index: 10;
    }

    img {
        width: 160px;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 6% !important;
}

.padding_top {
    padding-top: 120px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(39, 46, 69, 0.75);
}

.contact_lead {
    background-color: #850e35;
}

.contact_lead h2 {
    color: #fff;
}

.contact_lead-button {
    font-family: "OpenSauce", sans-serif;
}

.lang-flag {
    width: 30px;
}

.disable-scroll {
    overflow: hidden;
}

.pagination {
    .active {
        .page-link {
            color: $navy !important;
        }
    }
    .page-link {
        font-size: 1.8231rem;
        line-height: 1.38802842em;
        letter-spacing: $letter;
        background-color: transparent;
        color: #d9d9d9;
        border: 1px solid #a6a6a6;
        padding: 20px;
    }
    .page-item:first-child {
        .page-link {
            color: $navy !important;
        }
    }
    .page-item:last-child {
        .page-link {
            color: $navy !important;
        }
    }
}

@import "header";
@import "home";
@import "team";
@import "service";
@import "articles";
@import "footer";
