.error-page {
    padding: 200px 0;
    height: 100%;
}

.text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.text-wrapper h1 {
    font-family: "OpenSauce", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: #021924;
}

.text-wrapper a {
    text-transform: uppercase;
    color: #021924;
    font-family: "OpenSauce", sans-serif;
    font-weight: 600;
}
