#contactUs {
    color: #fff;
}
#contactUs {
    font-family: "OpenSauce", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/wall-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 20vh;
}

#contactUs *,
.address_form * {
    font-family: "OpenSauce", sans-serif;
}

.address_form-detail {
    background-color: #021924;
}

.address_form h2,
.address_form h3,
.address_form h4 {
    color: #fff;
}

.address_form h2 {
    font-size: 32px;
    font-weight: 600;
}

.address_form h3,
.address_form h4 {
    font-size: 16px;
    font-weight: 600;
}

.contact_detail i,
.contact_detail a,
.address_detail p {
    font-size: 15px;
    color: #ffffffe8;
    margin: 0;
    font-weight: 400;
}

.contact_detail a:hover {
    color: #ffc107;
}

.contact_container:hover i {
    color: #ffc107;
}

.contact_detail a {
    text-decoration: none;
}

#contactUs h2 {
    color: #fff;
}

#contactUs .contact-list {
    background-color: #021924;
}

.contact_form {
    background-color: #e8eaeb;
}

.contact_form textarea {
    min-height: 100px !important;
}

.contact_form h5 {
    font-size: 32px;
    font-weight: 600;
}

.contact_form_button_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 480px) and (max-width: 991px) {
    main {
        min-height: 55vh;
    }
}
