/* start of hero cta */

.hero_cta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/hero_cta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    position: relative;
}

@media (min-width: 900px) {
    .hero_cta {
        height: 70vh;
    }
}

@media (max-width: 1199px) {
    .hero_cta {
        height: 70vh;
    }
}

@media (max-width: 280px) {
    .hero_cta {
        padding: 0 !important;
    }

    .hero_cta .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.latest_articles h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    text-align: left;
}

.latest_articles_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1px;
    background-color: #fff;
}
.latest_articles_item {
    padding: 1rem;
    background-color: #2d3346;
    text-decoration: none;
    text-align: left;
}

.latest_articles_item:hover {
    background-color: #373e57;
}

.latest_articles_item h3 {
    font-size: 1rem;
    color: #fff;
    text-align: left;
}
.latest_articles_item span {
    font-size: 12px;
    color: #fff;
    text-align: left;
}

@media (max-width: 280px) {
    .hero_cta {
        padding: 0 !important;
    }

    .hero_cta .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

.hero_cta h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    position: relative;
    color: #fff;
}

.hero_cta h1,
.hero_cta p {
    position: relative;
    color: #fff;
}

.hero_cta p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto 30px;
    width: 100%;
}

@media (min-width: 900px) {
    .hero_cta p {
        width: 830px;
    }
}

@media (max-width: 576px) {
    .hero_cta h1 {
        font-size: 38px;
    }
    .hero_cta p {
        font-size: 16px;
    }
}

@media (max-width: 280px) {
    .hero_cta h1 {
        font-size: 26px;
    }
    .hero_cta p {
        font-size: 13px;
    }
}

.hero_titles h1 {
    font-weight: 700;
    font-size: 44px;
}

.hero_titles p {
    font-size: 18px;
}

@media (max-width: 768px) {
    .hero_titles h1 {
        font-size: 24px;
    }

    .hero_titles p {
        font-size: 16px;
    }
}

.hero_titles h1,
.hero_titles p {
    color: #fff;
}

.hero_titles {
    position: absolute;
    z-index: 8;
    top: 50%;
    transform: translateY(-40%);
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 280px) {
    .our_team_hero h2 {
        font-size: 26px;
    }

    .button-container a {
        font-size: 14px;
    }
}

.button-container {
    font-family: "Lato", sans-serif;
    position: relative;
    margin-top: 10px;
}

.button-container a {
    font-size: 16px;
    border-radius: 5px;
    padding: 13px 40px 13px 39px;
    font-weight: 600;
}

@media (max-width: 360px) {
    .button-container a {
        padding: 13px 10px 13px 10px;
    }
}

.button-container a:first-child,
.button-container a:first-child:hover {
    color: #111;
}

.button-container a:first-child:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.button-container a:last-child:hover {
    color: #111;
}

/* end of hero cta */

/* start of about us section */

.about_us {
    padding-top: 50px;
}

.about_us #staticBackdrop {
    font-family: "Lato", sans-serif;
}

.about_us .container {
    position: relative;
}

.about_us .button-container a:hover {
    background-color: #ffbf00 !important;
}

.about_us h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    color: #272e45;
}

.about_us p {
    font-size: 16px;
    font-weight: 400;
    color: #111;
    line-height: 30px;
    margin: 0;
}

.about_us .stat_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}
.about_us .stat_list .value,
.about_us .stat_list .stat_name {
    font-family: "Lato", sans-serif;
    color: #272e45;
}

.about_us .stat_list .value {
    font-size: 30px;
    font-weight: 700;
}

.about_us .stat_list .stat_name {
    font-weight: 500;
    line-height: 1.1;
    margin-top: 5px;
}

.about_us_slick {
    padding-top: 40px;
}

.about_us_slick h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.team_image {
    position: relative;
}

.team_image a {
    position: absolute;
    inset: 0;
    z-index: 10;
}

.team_image img {
    border-radius: 50px;
}

/* end of about us section */

/* start of why ideatax section */

.why_ideatax h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
    padding-top: 80px;
}

.reason_list {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
}

@media (max-width: 768px) {
    .reason_list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

@media (max-width: 576px) {
    .reason_list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 769px) {
    .reason_list {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }
}

.reason_item {
    transition: all linear 250ms;
    cursor: pointer;
}

.reason_item:first-child {
    background-color: #1c6758;
}

.reason_item:nth-child(2) {
    background-color: #850e35;
}

.reason_item:nth-child(3) {
    background-color: #1c6758;
}

.reason_item:nth-child(4) {
    background-color: #850e35;
}

.reason_item:nth-child(5) {
    background-color: #1c6758;
}

.reason_item:nth-child(6) {
    background-color: #850e35;
}

.reason_item:hover {
    box-shadow: 1px 1px 10px #111;
    scale: 1.1;
    z-index: 100;
}

.reason_item img {
    width: 30px;
}

.reason_item p {
    margin: 15px 0;
    line-height: 28px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
/* end of why ideatax section */

/* start of value section */

.our_value {
    padding-top: 10px;
}

.our_value h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 10px;
}

.our_value p {
    font-size: 16px;
    font-weight: 500;
    color: #111;
    line-height: 30px;
    margin: 0 auto 30px;
    width: 100%;
}

.our_value h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
    font-size: 26px;
    font-weight: 700;
    font-family: "Libre Baskerville", serif;
    z-index: 10;
}
.value_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 20px;
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 991px) {
    .value_list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }
}

@media (min-width: 992px) {
    .value_list {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
    }
    .value_item:hover {
        scale: 1.1;
    }
}

.value_item {
    background-color: #021924;
    color: #fff;
    font-size: 40px;
    overflow: hidden;
    transition: all linear 250ms;
    border-radius: 10px;
    position: relative;
}

.value_list p,
.value_list a {
    font-family: "Lato", sans-serif;
}

/* end of value section */

/* start of our services */

.our_services {
    margin-bottom: 70px;
}

.our_services h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.our_services .slider_outer {
    padding: 0;
    background-color: #1c6758;
}

.our_services_list {
    padding: 25px 20px 20px;
}

.slick-dots li.slick-active button {
    border-radius: 50%;
    background-color: #111;
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.our_services_list .slick-dots {
    bottom: 10px;
}

@media (max-width: 576px) {
    .our_services .slick-prev {
        display: none !important;
    }

    .our_services .slick-next {
        display: none !important;
    }

    .our_service_item {
        padding: 20px;
    }

    .our_service_item P {
        margin: 10px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .our_services_list {
        padding: 50px 40px 25px;
    }

    .our_services .slider_outer {
        border-radius: 10px;
    }

    .our_services_list .slick-dots {
        bottom: 5px;
    }

    .our_services .slick-prev {
        display: block !important;
    }

    .our_services .slick-next {
        display: block !important;
    }

    .our_services .slick-prev {
        z-index: 10;
        left: 5px;
    }

    .our_services .slick-prev:before,
    .our_services .slick-next:before {
        font-size: 30px;
        color: #fff;
    }

    .our_services .slick-next {
        z-index: 10;
        right: 18px;
    }

    .our_service_item P {
        margin: 15px 0;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .our_services_list {
        padding: 70px 60px 60px;
    }

    .our_services .slider_outer {
        border-radius: 30px;
    }

    .our_services_list .slick-dots {
        bottom: 20px;
    }

    .our_services .slick-prev {
        display: block !important;
    }

    .our_services .slick-next {
        display: block !important;
    }

    .our_services .slick-prev {
        z-index: 10;
        left: 15px;
    }

    .our_services .slick-prev:before,
    .our_services .slick-next:before {
        font-size: 60px;
        color: #fff;
    }

    .our_services .slick-next {
        z-index: 10;
        right: 58px;
    }
    .our_service_item P {
        margin: 10px 0;
    }

    .our_services_list .slick-dots {
        bottom: 30px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1699px) {
    .our_services_list {
        padding: 70px 60px 60px;
    }

    .our_services .slider_outer {
        border-radius: 30px;
    }

    .our_services_list .slick-dots {
        bottom: 20px;
    }

    .our_services .slick-prev {
        display: block !important;
    }

    .our_services .slick-next {
        display: block !important;
    }

    .our_services .slick-prev {
        z-index: 10;
        left: 10px;
    }

    .our_services .slick-prev:before,
    .our_services .slick-next:before {
        font-size: 60px;
        color: #fff;
    }

    .our_services .slick-next {
        z-index: 10;
        right: 70px;
    }

    .our_service_item P {
        margin: 15px 0;
    }
    .our_services_list .slick-dots {
        bottom: 20px;
    }
}

.our_service_item {
    padding: 20px;
}

.our_service_item a {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #111;
    width: 100%;
    text-align: center !important;
}

.our_service_item a:hover {
    text-decoration: underline;
}

.our_service_item P {
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: #111;
}

.our_services_list .slick-center {
    transition: all linear 200ms;
    border-radius: 20px;
    background-color: #fff !important;
}

/* end of our services */
