@import url("https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600;700&display=swap");

#ourServices,
.our_service_list {
    font-family: "Familjen Grotesk", sans-serif;
}

#ourServices {
    font-family: "OpenSauce", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/assets/images/wall-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 20vh;
}

@media (max-width: 576px) {
    #ourServices {
        height: 15vh;
    }
}

@media (max-width: 280px) {
    #ourServices {
        padding: 0 !important;
    }

    #ourServices .container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}

#ourServices h1 {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 10px;
    color: #fff;
}

.subtitle h2 {
    font-size: 30px;
    font-weight: 700;
}

.our_service_item img {
    height: 200px;
}

.our_service_item h2 a {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "OpenSauce", sans-serif;
    color: #111;
}

.our_service_item p {
    font-size: 18px;
    font-family: "OpenSauce", sans-serif;
}

.our_service_item .more_button {
    font-size: 17px;
    font-weight: 600;
    color: #272e45;
    font-family: "OpenSauce", sans-serif;
    display: flex;
    align-items: center;
}

.our_service_item .more_button i {
    font-size: 20px;
    font-weight: 600;
    color: #272e45;
    margin-left: 5px;
}

.our_service_item .more_button:first-letter {
    text-transform: uppercase !important;
}

#ourServices .button_container a {
    font-family: "OpenSauce", sans-serif;
}

@media (max-width: 280px) {
    .our_team_hero h2 {
        font-size: 26px;
    }

    .button-container a {
        font-size: 14px;
    }
}
